<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link rel="stylesheet" th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}"/>
    <script th:src="@{/node_modules/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/node_modules/popper.js/dist/umd/popper.js}"></script>
    <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
</body>
</html>